<div class="container my-5">
  <ng-container *ngIf="registrationMessage?.length > 0">
    <div class="alert alert-success alert-dismissible">
      {{registrationMessage}}
    </div>
  </ng-container>

  <form (ngSubmit)="registerUser()" [formGroup]="registrationForm" class="form-horizontal" novalidate>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Register New User</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="fname">First Name</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-prepend" style="width: 2.6rem"><i class="fa fa-user"></i></div>
            <input class="form-control" formControlName="fname" id="fname" name="fname"
                   placeholder="John"
                   required type="text">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-prepend" style="width: 2.6rem"><i class="fa fa-user"></i></div>
            <input class="form-control" formControlName="lname" id="lname" name="lname"
                   placeholder="Doe"
                   required type="text">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="email">E-Mail Address</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
            <input class="form-control" formControlName="email" id="email" name="email"
                   placeholder="you@example.com"
                   required type="text">
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <ng-container *ngIf="formControls.email.errors?.taken && formControls.email.touched">
             <span class="text-danger align-middle">
                <i class="fa fa-close"> Email Already Taken</i>
             </span>
          </ng-container>
          <ng-container *ngIf="formControls.email.pending && formControls.email.touched">
            <span class="text-info align-middle">
              <i class="fa fa-hourglass"> Checking Email ....</i>
            </span>
          </ng-container>
          <ng-container *ngIf="!formControls.email.errors && formControls.email.touched && !formControls.email.pending">
             <span class="text-success align-middle">
                            <i class="fa fa-check"> Email Available</i>
                        </span>
          </ng-container>
          <ng-container *ngIf="formControls.email.errors?.required && formControls.email.touched">
                          <span class="text-danger align-middle">
                            <i class="fa fa-check"> Email Required</i>
                        </span>
          </ng-container>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">Password</label>
      </div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
            <input class="form-control" formControlName="password" id="password" name="password"
                   placeholder="Password"
                   required type="password">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">Confirm Password</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-repeat"></i>
            </div>
            <input class="form-control" formControlName="confirmPassword" id="password-confirm"
                   name="password-confirmation"
                   placeholder="Password" required type="password">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <ng-container *ngIf="!comparePassword && formControls.confirmPassword.touched">
                          <span class="text-danger align-middle">
                            <i class="fa fa-close"> Passwords don't match</i>
                        </span>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button [disabled]="(registrationForm.invalid || registrationForm.pending) && registrationForm.touched "
                class="btn btn-success" type="submit">
          <i class="fa fa-user-plus"></i> Register
        </button>
      </div>
    </div>
  </form>
</div>
