<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li><a href="#">Home</a></li>
          <li><a href="#">All Categories</a></li>
          <li><a href="#">{{product.category}}</a></li>
          <li class="active">{{product.name}}</li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- Product main img -->
      <div class="col-md-5 col-md-push-2">
        <div id="product-main-img">
          <ng-template [ngIf]="thumbImages.length === 0">
            <div class="product-preview">
              <img [src]="product.image" alt="{{product.name}}">
            </div>
          </ng-template>
          <ng-template [ngIf]="thumbImages.length > 0">
            <div class="product-preview" *ngFor="let t of thumbImages">
              <img [src]="t" alt="{{product.name}}">
            </div>
          </ng-template>
        </div>
      </div>
      <!-- /Product main img -->

      <!-- Product thumb imgs -->
      <div class="col-md-2  col-md-pull-5">
        <ng-template [ngIf]="thumbImages.length > 0">
          <div id="product-imgs">
            <div class="product-preview" *ngFor="let t of thumbImages">
              <img [src]="t" alt="{{product.name}}">
            </div>
          </div>
        </ng-template>
        <ng-template [ngIf]="thumbImages.length === 0">
          <div id="product-imgs">
            <div class="product-preview">
              <img [src]="product.image" alt="{{product.name}}">
            </div>
          </div>
        </ng-template>

      </div>
      <!-- /Product thumb imgs -->

      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
          <h2 class="product-name">{{product.name}}</h2>
          <div>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <a class="review-link" href="#">10 Review(s) | Add your review</a>
          </div>
          <div>
            <h3 class="product-price">{{product.price | currency:'USD'}}</h3>
            <span class="product-available">In Stock</span>
          </div>
          <p>
            {{product.description}}
          </p>

         <div class="add-to-cart">
            <div class="qty-label">
              Qty
              <div class="input-number">
                <input type="number" [max]="product?.quantity >=1 ? product?.quantity : 0"
                       min="1"
                readonly
                #quantity
                value="{{product?.quantity >= 1 ? 1: 0}}"
                >
                <span class="qty-up" (click)="Increase()">+</span>
                <span class="qty-down" (click)="Decrease()">-</span>
              </div>
            </div>
            <button class="add-to-cart-btn" (click)="addToCart(product?.id)"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
          </div>

          <ul class="product-btns">
            <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
            <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
          </ul>

          <ul class="product-links">
            <li>Category:</li>
            <li><a href="#">Headphones</a></li>
            <li><a href="#">Accessories</a></li>
          </ul>

          <ul class="product-links">
            <li>Share:</li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
          </ul>

        </div>
      </div>
      <!-- /Product details -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
