<ngx-spinner
  bdColor= "rgba(151,149,149,0.4)"
  size="large"
  color="orange"
  type="ball-clip-rotate-pulse"
  fullScreen="true"
>
  <p style="font-size: 20px; color: black">Booking Order...</p>
</ngx-spinner>


<div class="section" *ngIf="cartTotal > 0">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <div class="col-md-7">
        <!-- Billing Details -->
        <form #billingForm="ngForm" (ngSubmit)="formSubmit()">
          <div class="billing-details">
            <div class="section-title">
              <h3 class="title">Billing address</h3>
            </div>
            <div class="form-group">
              <input class="input" type="text" name="first-name" placeholder="First Name" [(ngModel)]="model.firstName" #firstName="ngModel">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="last-name" placeholder="Last Name" [(ngModel)]="model.lastName" #lastName="ngModel">
            </div>
            <div class="form-group">
              <input class="input" type="email" name="email" placeholder="Email" [(ngModel)]="model.email" #email="ngModel">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="address" placeholder="Address" [(ngModel)]="model.address" #address="ngModel">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="city" placeholder="City" [(ngModel)]="model.city" #city="ngModel">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="country" placeholder="Country" [(ngModel)]="model.country" #country="ngModel">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="zip-code" placeholder="ZIP Code" [(ngModel)]="model.zip" #zip="ngModel">
            </div>
            <div class="form-group">
              <input class="input" type="tel" name="tel" placeholder="Telephone" [(ngModel)]="model.phone" #phone="ngModel">
            </div>
            <div class="form-group">
              <div class="input-checkbox">
                <input type="checkbox" id="create-account">
                <label for="create-account">
                  <span></span>
                  Create Account?
                </label>
                <div class="caption">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                  <input class="input" type="password" name="password" placeholder="Enter Your Password">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-warning btn-sm" [disabled]="billingForm.invalid || billingForm.pending">Submit Form</button>
          </div>
        </form>

        <!-- /Billing Details -->

        <!-- Order notes -->
        <div class="order-notes">
          <textarea class="input" placeholder="Order Notes"></textarea>
        </div>
        <!-- /Order notes -->
      </div>

      <!-- Order Details -->
      <div class="col-md-5 order-details">
        <div class="section-title text-center">
          <h3 class="title">Your Order</h3>
        </div>
        <div class="order-summary">
          <div class="order-col">
            <div><strong>PRODUCT</strong></div>
            <div><strong>TOTAL</strong></div>
          </div>
          <div class="order-products">
            <div class="order-col" *ngFor="let c of cartData.data">
              <div>{{c.numInCart}} x {{c.product.name}}</div>
              <div>{{(c.product.price * c.numInCart) | currency:'USD'}}</div>
            </div>

          </div>
          <div class="order-col">
            <div>Shiping</div>
            <div><strong>FREE</strong></div>
          </div>
          <div class="order-col">
            <div><strong>TOTAL</strong></div>
            <div><strong class="order-total">{{cartTotal | currency:'USD'}}</strong></div>
          </div>
        </div>

        <div class="input-checkbox">
          <input type="checkbox" id="terms">
          <label for="terms">
            <span></span>
            I've read and accept the <a href="#">terms & conditions</a>
          </label>
        </div>
        <button class="btn btn-outline-danger btn-sm my-2 btn-block order-submit"
                (click)="onCheckout()"
                [disabled]="cartTotal <= 0"
                [class.disabled]="cartTotal<=0"
        >Place order</button>
      </div>
      <!-- /Order Details -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<div class="text-center my-5" *ngIf="cartData.total <= 0;">
  <h4>Your Cart Is Empty</h4>
  <button class="btn btn-primary btn-lg mt-3" routerLink="/">GO TO SHOP</button>
</div>
